@-webkit-keyframes move {
  0% {
    transform: scale(0);
    left: -20px; }
  20% {
    transform: scale(1);
    left: -20px; }
  90% {
    transform: scale(1);
    left: 20px; }
  100% {
    transform: scale(0);
    left: 20px; } }

@keyframes move {
  0% {
    transform: scale(0);
    left: -20px; }
  20% {
    transform: scale(1);
    left: -20px; }
  90% {
    transform: scale(1);
    left: 20px; }
  100% {
    transform: scale(0);
    left: 20px; } }

[id^="unlock-button"] {
  display: inline-block; }
  [id^="unlock-button"] .unlock-button {
    position: relative;
    background-color: transparent;
    padding: 7px 17px;
    border-radius: 8px; }
    [id^="unlock-button"] .unlock-button .unlock-logo {
      width: 77px;
      height: 18px; }
    [id^="unlock-button"] .unlock-button .unlock-cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(76, 76, 76, 0.6);
      border-radius: 8px;
      transition: opacity 0.2s; }
    [id^="unlock-button"] .unlock-button .unlock-spinner {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s; }
      [id^="unlock-button"] .unlock-button .unlock-spinner .unlock-dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        left: 0px; }
      [id^="unlock-button"] .unlock-button .unlock-spinner .unlock-dot-one {
        -webkit-animation: move 1.2s ease-in-out 0s infinite normal;
        animation: move 1.2s ease-in-out 0s infinite normal; }
      [id^="unlock-button"] .unlock-button .unlock-spinner .unlock-dot-two {
        -webkit-animation: move 1.2s ease-in-out 0.4s infinite normal;
        animation: move 1.2s ease-in-out 0.4s infinite normal;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards; }
      [id^="unlock-button"] .unlock-button .unlock-spinner .unlock-dot-three {
        -webkit-animation: move 1.2s ease-in-out 0.79999s infinite normal;
        animation: move 1.2s ease-in-out 0.79999s infinite normal;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards; }
    [id^="unlock-button"] .unlock-button.unlock-enabled .unlock-cover {
      opacity: 0; }
    [id^="unlock-button"] .unlock-button.unlock-enabled .unlock-spinner {
      opacity: 0; }
    [id^="unlock-button"] .unlock-button.unlock-disabled .unlock-cover {
      opacity: 1; }
    [id^="unlock-button"] .unlock-button.unlock-disabled .unlock-spinner {
      opacity: 1; }
  [id^="unlock-button"] .unlock-link {
    text-align: center;
    color: transparent; }
    [id^="unlock-button"] .unlock-link a {
      text-decoration: none; }
    [id^="unlock-button"] .unlock-link a:hover {
      text-decoration: underline; }
