$dot-size: 12px;
$dot-distance: 40px;
$duration: 1.2s;
$delay-two: $duration*0.33;
$delay-three: $duration*0.67;

@keyframes move {
    0% {
        transform: scale(0);
        left: -$dot-distance/2;
    }
    20% {
        transform: scale(1);
        left: -$dot-distance/2;
    }
    90% {
        transform: scale(1);
        left: $dot-distance/2;
    }
    100% {
        transform: scale(0);
        left: $dot-distance/2;
    }
}

#unlock-button {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    #ul-button {
        position: relative;
        background-color: transparent;
        padding: 7px 17px;
        border-radius: 8px;
        #ul-logo {
            width: 77px;
            height: 18px;
        }
        #ul-cover {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(76, 76, 76, 0.6);
            border-radius: 8px;
            transition: opacity 0.2s;
        }
        #ul-spinner {
            width: $dot-size;
            height: $dot-size;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.2s;
            .ul-dot {
                width: $dot-size;
                height: $dot-size;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                left: 0px;
            }
            #ul-dot-one {
                animation: move $duration ease-in-out 0s infinite normal;
            }
            #ul-dot-two {
                animation: move $duration ease-in-out $delay-two infinite normal;
                animation-fill-mode: backwards;
            }
            #ul-dot-three {
                animation: move $duration ease-in-out $delay-three infinite normal;
                animation-fill-mode: backwards;
            }
        }
        &.ul-enabled {
            #ul-cover {
                opacity: 0;
            }
            #ul-spinner {
                opacity: 0;
            }
        }
        &.ul-disabled {
            #ul-cover {
                opacity: 1;
            }
            #ul-spinner {
                opacity: 1;
            }
        }
    }
    #ul-link {
        text-align: center;
        color: transparent;
        cursor: pointer;
        text-decoration: none;
        margin-top: 0.2rem;
        &:hover {
            text-decoration: underline;
        }
    }
    #ul-modal {
        opacity: 0;
        transition: opacity 0.2s;
        &.ul-open {
            opacity: 1;
        }
        #ul-modal-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }
        #ul-modal-container {
            position: absolute;
            left: 50%;
            top: 80px;
            transform: translateX(-50%);
            background: white;
            border-radius: 10px;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
            width: 85%;
            max-width: 450px;
            #ul-modal-logo {
                position: relative;
                display: inline-block;
                left: 50%;
                top: 0;
                transform: translate(-50%, -45%);
                $size: 100px;
                width: $size;
                height: $size;
                border-radius: 50%;
                background: #2f81c6;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            }
            #ul-modal-close {
                position: absolute;
                display: inline-block;
                right: 15px;
                top: 2px;
                font-size: 40px;
                color: #666;
                cursor: pointer;
            }
            #ul-modal-content {
                text-align: center;
                color: #b0b0b0;
                width: 90%;
                margin: -35px auto 20px;
                a {
                    color: #aaa;
                    text-decoration: underline;
                }
                #ul-modal-title {
                    font-size: 30px;
                    color: #444;
                    margin-bottom: 15px;
                }
                #ul-modal-email {
                    margin: 15px 0;
                    text-align: left;
                    #ul-modal-email-label {
                        color:#444;
                        margin-left: 5px;
                    }
                    #ul-modal-email-input {
                        width: 100%;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #444;
                        padding: 2px 0;
                        margin: 0 5px;
                        font-size: 20px;
                        &:focus {
                            border-bottom: 1px solid #2f81c6;
                        }
                    }
                }
                #ul-modal-picture {
                    color: #444;
                    font-size: 18px;
                }
            }
        }
    }
    .ul-d-none {
        display: none;
    }
}
